<h1>Reviews Index page</h1>

<% @reviews.each do |review| %>
  Title: <%= review.title %>
  Body: <%= review.body %>
  Image path: <%= review.image_path %>
  User: <%= review.reg_user_id %>
  <hr />
<% end %>
